.box {
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: #ddd;
  user-select: none;
}

.oddBox {
  @extend .box;
}

.evenBox {
  @extend .box;
  // border-bottom-color: #f1f1f1;
  border-bottom-style: dotted;
}
