.timeNav {
  display: inline-flex;
  flex-direction: column;
  float: left;
  border-bottom: 1px solid #ddd;

  .span {
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    border-width: 1px 0px 0px 1px;
  }

  .oddSpan {
    @extend .span;
  }

  .evenSpan {
    @extend .span;
    border-top: 1px dotted #ddd;
  }
}
